*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(226, 197, 115);
    overflow-x: hidden;
    color: #fff;
}

header{
    display: flex;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    align-items: center;
}

hr{
    width:100%
}

main{
    height: 80vh;
    width: 100%;
}


picture{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}